<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="buttonMain.html">
    <div class="round-button">
        <div ng-class="click ? 'round-button-circle outer-click' : 'round-button-circle'" id="inner">
            <a ng-click='onClick()' ng-class="click ? 'round-button inner-click' : 'round-button'" style="color: {{color}}">{{timeString}}</a>
        </div>
    </div>
    <div ng-if="secondsClicked"><center>You last clicked at {{secondsClicked}}</center></div>
    <div ng-if="secondsClicked"><center>canClick: {{canClick}}</center></div>
</script>